<div ng-controller="mainCtrl" ng-cloak>
    <div class="content">

        <div class="grid">
            <div class="box" ng-repeat="result in articles">
                <h2>{{result.headline.main}}</h2>
                <p class="abstract">{{result.abstract}}</p>
                <img src="https://static01.nyt.com/{{result.multimedia[0].url}}">
                <p></p>
                <a ui-sref="app.article({ 
                            articleSlug:'{{sanitize(result.headline.main | slugify)}}', 
                            title: '{{sanitize(result.headline.main)}}', 
                            url: '{{result.web_url}}', 
                            image: 'https://static01.nyt.com/{{result.multimedia[0].url}}', 
                            externalUrl: '{{result.web_url}}' 
                        })">
                    Read more...
                </a>
            </div>

            <div ng-controller="homeCtrl">
                <ul id="pagination" >
                    <div><a ng-if="currentPage > 1" ui-sref="/?page={{previousPage}}">{{previousPage}}</a> </div>
                    <div>{{currentPage}}</div>
                    <div><a ui-sref="/?page={{nextPage}}">{{nextPage}}</a></div>
                </ul>
            </div>
        </div>

    </div>
</div>