<div ng-controller="mainCtrl" ng-cloak>
    <div class="container">
        <div class="box" ng-repeat="result in results | filter : '!trump'" ng-if="result.multimedia[2].url != null">
            <h2>{{result.headline.main}}</h2>
            <p class="abstract">{{result.abstract}}</p>
            <img src="https://static01.nyt.com/{{result.multimedia[0].url}}">
            <p></p>
            <a ui-sref="article ({
        articleSlug:'{{result.headline.main | slugify}}', 
        title: '{{result.headline.main}}',
        url: '{{result.web_url}}', 
        image: 'https://static01.nyt.com/{{result.multimedia[0].url}}',
        externalUrl: '{{result.url}}'
    })">Read more...</a>
        </div>
    </div>
    <ul id="pagination">
            <input type="button" ng-click="previousPage()" value="Previous">
            <input id="currentPageNumber" type="button" value="1">
        <input type="button" ng-click="nextPage()" value="Next">
    </ul>
</div>