
<div class="container" ng-controller="mostRecent" ng-cloak>
        
    <div class="box" ng-repeat="result in results" ng-if="result.multimedia[2].url != null">
    <h2>{{result.title}}</h2>
    <p class="abstract">{{result.abstract}}</p>
    <img src="{{result.multimedia[2].url}}">
    <p></p>
    <a ui-sref="article2 ({
        articleSlug:'{{result.title | slugify}}', 
        title: '{{result.title}}',
        url: '{{result.url}}', 
        image: '{{result.multimedia[2].url}}',
        externalUrl: '{{result.url}}'
    })">Read more...</a>
 </div>
 </div>